{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}
{% block javascript %}
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{{asset('assets/js/payment.js')}}"></script>
    {{ parent() }}
{% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <div class="container mb-4">
        <div class="row">
            <div class="col-12">

                {% if cart == null %}
                    <h1 class="text-center">Il n'y a pas de produit</h1>


                {% else %}
                    <div class="table-responsive">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Produit</th>
                                <th scope="col" class="text-center">Quantité</th>
                                <th scope="col" class="text-right">Prix</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for item in cart.products %}
                                <tr>
                                    <td>{{ item.idProducts.name }}</td>
                                    <td class="item">
                                        <a href="{{ path('cart_edit', {'id': item.id, "edit": 'less'}) }}" class="btn btn-sm btn-danger mr-1"><i class="fas fa-minus"></i></a>
                                            {{ item.qty }}
                                        <a href="{{ path('cart_edit', {'id': item.id, "edit": 'more'}) }}" class="btn btn-sm btn-danger ml-2"><i class="fas fa-plus"></i></a>
                                    </td>
                                    <td class="text-right">{{ item.total  }} &euro;</td>
                                    <td class="text-right">
                                        <a href="{{ path('cart_remove', {'id': item.id}) }}" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="text-right">Sous-Total</td>
                                <td class="text-right">{{ cart.order.total-frais }} &euro;</td>
                            </tr>

                            <tr>
                                <td colspan="3" class="text-right">Frais de port</td>
                                <td class="text-right">{{ frais }} &euro;</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right"><strong>Total</strong></td>
                                <td class="text-right"><strong>{{ cart.order.total }} &euro;</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                {% endif %}
            </div>




            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <a href="{{ path('bikes') }}" class="btn btn-block btn-light" ><i class="fas fa-long-arrow-alt-left"></i>&nbsp;&nbsp;Continuer vos achats</a>
                        <a class="btn btn-danger mt-3" href="{{ path('cart_clear') }}"><i class="fas fa-trash-restore"></i>&nbspVider le panier</a>
                    </div>

                    <div class="col-sm-12 col-md-6 text-right">
                        {% if cart != null %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if not valadd %}
                                    <a href="{{ path('address') }}" class="btn btn-lg btn-block btn-success text-uppercase">Selectionner une adresse</a>
                                {% else %}
                                    <button class="btn btn-lg btn-block btn-success text-uppercase" onclick="checkout('{{ session.id }}')">Commander</button>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('login') }}" class="btn btn-lg btn-block btn-success text-uppercase">Se connecter</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}