{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{#{% block title %}Cart - {{ sitename }}{% endblock %}#}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <div class="container mb-4">
        <div class="row">
            <div class="col-12">

                {% if cart == null %}
                    <h1 class="text-center">Il n'y a pas de produit</h1>


                {% else %}
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produit</th>
                            <th scope="col">Disponibilité</th>
                            <th scope="col" class="text-center">Quantité</th>
                            <th scope="col" class="text-right">Prix</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for item in cart.products %}
                            <tr>
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                <td>{{ item.idProducts.name }}</td>
                                <td>En stock</td>
                                <td><input class="form-control" type="text" value="{{ item.qty }}" /></td>
                                <td class="text-right">{{ item.total  }} &euro;</td>
                                <td class="text-right">
                                    <a href="{#{{ path('cart_remove', {'id': item.product.id}) }}#}" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sous-Total</td>
                            <td class="text-right">{{ cart.order.total }} &euro;</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Frais de port</td>
                            <td class="text-right">{#{{ cart.shipping }}#} &euro;</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{#{{ cart.total }}#} &euro;</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                {% endif %}
            </div>




            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <a href="{{ path('bikes') }}" class="btn btn-block btn-light" >Continuer vos achats</a>
                        <a href="{#{{ path('cart_clear') }}#}">Vider le panier</a>
                    </div>

                    <div class="col-sm-12 col-md-6 text-right">
                        {% if cart != null %}
                        <button class="btn btn-lg btn-block btn-success text-uppercase">Commander</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
