{% extends 'base.html.twig' %}

{% block body %}
{#
 afficher la liste des commandes (variable array : orders)
#}




        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Vos commandes</h1>
            </div>
        </section>

        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Numero de la commande</th>
                                <th scope="col" class="text-center">Etat de la commande</th>
                                <th scope="col" class="text-center">Date de la commande</th>
                                <th scope="col">Total</th>
                                <th scope="col">Etat du paiement</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                        {% for ord in orders %}
                            {% if ord.orderState != 0 %}
                                <tr>

                                    <td class="text-center">{{ ord.id }}</td>
                                    <td class="text-center">
                                        {% if ord.orderState == 1 %}
                                            Commande prise en compte
                                            {% elseif ord.orderState == 2 %}
                                            Commande envoyé
                                            {% else %}
                                            Problème avec la commande
                                        {% endif %}</td>
                                    <td class="text-right">{{ ord.orderDate|date('d-m-Y') }}</td>
                                    <td class="text-center">{{ ord.total }} &euro;</td>
                                    <td class="text-right">{{ ord.paymentState == "ok" ? "Paiement validé" : "En attente de paiement" }} </td>
                                    <td class="text-right"><a href="{{ path('account_orders_show', {'order': ord.id}) }}" class="btn btn btn-light"><i class="fas fa-eye"></i>&nbsp;Voir la commande</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>





{% endblock %}

