{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<div class="slide">
    <div class="slide1"></div>
    <div class="slide2"></div>
    <div class="slide3"></div>
</div>

<div class="container">

    <!-- Confort -->
    <div class="confort">
    <hr>
    <a href="#"><h1 class="kk text-center">Votre confort notre mission</h1></a>
    <hr>
    <div class="row mt-4 mb-4">
        <div class="col-6"><div class="media">
            <img src="{{asset('assets/image/couvreselle.jpg')}}" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Couvre selles</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div></div>
        <div class="col-6"><div class="media">
            <img src="{{asset('assets/image/amortisseur.jpg')}}" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Amortisseurs</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
    </div>
    </div>
</div>



<div class="jumbotron jumbotron-3">
  <div class="container">
    <h1 class="resp-title text-center mt-0 mb-3">Rapide comme le vent</h1>
    <p class="resp text-center mt-5">Seulement 5 jours de délais en région outre mer et 24h maximum en France métropolitaine.<br>
      Notre rapidité n'est pas présente seulement dans nos services de livraisons, elle est aussi présente en terme de communication, nos agents de communication vous fournissent une réponse en un temps record !
    </p>

  </div>
  
</div>



<hr>
<h1>Nos Développeurs Web</h1>
<hr>
<div class="row mt-4 mb-4">
    <div class="col-2">
        <div class="media créateurs">
            <img src="{{asset('assets/image/nolwenn.png')}}" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Nolwenn</h5>
              Back
            </div>
        </div>
    </div>
    <div class="col-2">
            <div class="media créateurs">
                    <img src="{{asset('assets/image/estéban.png')}}" class="mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0">Estéban</h5>
                      Back/Front 
                    </div>
                </div>
    </div>
    <div class="col-2">
            <div class="media créateurs">
                    <img src="{{asset('assets/image/aziz.png')}}" class="mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0">Aziz</h5>
                      Back/Front
                    </div>
                </div>
    </div>
    <div class="col-2">
            <div class="media créateurs">
                    <img src="{{asset('assets/image/milouda.png')}}" class="mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0">Milouda</h5>
                      Front
                    </div>
                </div>
    </div>
    <div class="col-2">
            <div class="media créateurs">
                    <img src="{{asset('assets/image/pascal.png')}}" class="mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0">Pascal</h5>
                        Front
                    </div>
                </div>
    </div>
</div>


<div class="jumbotron jumbotron-2">
        <div class="container bien1">
          <h1 class="">Ressentez le bien être</h1>
          <p class="bien">Comment ressentir chaque mouvement d'un vélo, partez à la découverte de la ville ou redécouvrez la nature.
              Chaques modèles de vélo vous correspondra totalement selon vos attentes ainsi que votre mode de vie.
          </p>
        </div>
      </div>


<!-- Contenu histoire -->
<hr class="hr">
<div class="container-fluid story-telling">
<a href="#"><h1 class="story text-center">Notre histoire</h1></a>
</div>
<hr class="hr">
<br>
<!-- Histoire -->
<div class="container">
  <div class="row mb-5">
    <div class="col-12">
        <div class="media">
            <img src="{{asset('assets/image/hostory.gif')}}" class="align-self-start mr-3" alt="...">
            <div class="media-body history-body">
              <h5 class="mt-0">Depuis 1970</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
              <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
              <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>
    </div>
  </div>
</div>
</div>






{% endblock %}
