{% extends 'base.html.twig' %}

{% block title %}Hello AccessoriesController!{% endblock %}

{% block body %}



<div class="container">
    
        <div class="col">
                
            <div class="row">
                    {% for accessorie in accessories %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="{{accessorie.image}}" alt="Photo de l'accessoire">
                        <div class="card-body">
                            <h4 class="card-link"><a class="card-link" href="{{path('accessory', {'id': accessorie.id })}}" title="Voir l'accessoire">{{ accessorie.name }}</a></h4>
                            <p class="card-text">{{accessorie.description}}</p>
                            
                            <div class="row">
                                    <h2 title="{{accessorie.price}}" class="price">{{accessorie.price}} &euro;</h2>
                                <div class="col">
                                    <a href="{{path('accessory', {'id': accessorie.id })}}" title="En savoir plus sur {{accessorie.name}}" class="btn btn-dark ">Plus d'infos</a>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}
            </div>
        </div>
        
</div>            




{% endblock %}
