{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <a href="" data-toggle="modal" data-target="#productModal">
                            <img class="img-fluid access-pic" src="{{asset('assets/image/accessoires/'~accessory.image)}}" />
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-lg-6 add_to_cart_block container-show">
                    <div class="card bg-light mb-3">
                        <div class="card-body show-card-body">
                            <h1>{{product.name}}</h1>
                            <p>{{product.description}}</p>
                        </div>
                    </div>
                            
                           
                    <div class="card bg-light mb-3">
                        <div class="card-body show-card-body">
                            <h1>{{product.name}}</h1>
                            <form method="get" action="cart.html">
                                    <p>Caractéristique principale</p>
                                <div class="row">
                                <h2>{{product.price }}&euro;</h2>
                                <a href="cart.html" class="btn btn-success btn-lg text-uppercase">
                                    <i class="fa fa-shopping-cart"></i> Ajouter au panier
                                </a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
