{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card bg-light mt-3 mb-3">
                    <div class="card-body">
                        <a href="" data-toggle="modal" data-target="#productModal">
                            <img class="img-fluid access-pic" src="{{asset('assets/image/accessoires/'~product.image)}}" />
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-lg-6 add_to_cart_block container-show">
                    <div class="card bg-light mb-3">
                        <div class="card-body show-card-body">
                            <h1>{{product.name}}</h1>
                            <p>{{product.description}}</p>
                        </div>
                    </div>
                            
                           
                    <div class="card bg-light mb-3">
                        <div class="card-body show-card-body">
                            <h1>{{product.name}}</h1>
                            <form method="get" action="cart.html">
                                    <p>Caractéristique principale</p>
                                <div class="row">
                                <h2 class="bike-price ml-5">{{product.price }}&euro;</h2>
                            <a href="{{ path('addProduct', {'product':product.id}) }}" class="ml-5 btn btn-dark btn-lg btn-panier text-uppercase">
                                <i class="fa fa-shopping-cart"></i> Ajouter au panier
                            </a>
                            </div>
                            </form>
                        </div>
                    </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('product_edit', {'id':product.id}) }}" class="ml-5 btn btn-dark btn-lg text-uppercase mb-3">
                        Editer le produit
                    </a>
                    {{ include('product/_delete_form.html.twig') }}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
