{% extends 'base.html.twig' %}

{% block title %}Nos vélos{% endblock %}

{% block body %}

<div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div id="categories" class="card bg-light mb-3">
                    <div class="card-header bg-dark text-white text-uppercase"><i class="far fa-list-alt"></i>  
                    <a class="bouton-categories" data-toggle="collapse" href="#collapseCategories" role="button" aria-expanded="false" aria-controls="collapseCategories">
                    &ensp;Catégories</a> 
                </div>
                <div class="collapse" id="collapseCategories">
                    <ul class="list-group category_block">

                        {% for category in categorys %}
                        <li class="list-group-item licat"><a class="category-link" href="{{path('bikes', {'id': category.id })}}"><img class="bike-logo" src="{{asset('assets/image/logos/'~category.logo)}}" alt="">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="row">

                        {% for bike in pagination %}

                        <div class="col-12 col-md-6 col-lg-4  product-card">
                            <div class="card">
                                <a class="card-link" href="{{path('bike', {'id': bike.id })}}" title="Voir le vélo"><img class="card-img-top" src="{{asset('assets/image/velos/hommes/'~bike.image)}}" alt="Photo du vélo" title="{{bike.name}}"></a>
                                <div class="card-body">
                                    <h4 class="card-title"><a class="card-link" href="{{path('bike', {'id': bike.id })}}" title="Voir le vélo">{{ bike.name }}</a></h4>
                                    <p class="card-text">{{bike.description}}</p>
                                    
                                    <div class="row">
                                            <h2 title="{{bike.price}}" class="price">{{bike.price}} &euro;</h2>
                                        <div class="col">
                                            <a href="{{path('bike', {'id': bike.id })}}" title="En savoir plus sur ce vélo" class="btn btn-dark "><i class="fas fa-info-circle"></i>&nbspPlus d'infos</a>
                                        </div>                               
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        {% endfor %}

                   
   <div class="col-12">
        <nav class="example" aria-label="...">
            <ul class="pagination pagination-lg justify-content-center">
                    {{ knp_pagination_render(pagination) }}
            </ul>
        </nav>
   </div>
   </div>
</div>
</div>
</div>
{% endblock %}