{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mt-5">
            <div class="card bg-light mb-3">
                <div class="s-zoom card-body">
                <div class="s-image">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="{{asset('assets/image/velos/hommes/'~product.image)}}" />
                    </a>
                 </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 add_to_cart_block container-show">
                <div class="card bg-light mb-3">
                    <div class="card-body  show-card-body">
                        <h1 class="text-center">{{product.name}}</h1>
                        <p class="description">{{product.description}}</p>
                    </div>
                </div>
                        
                       
                <div class="card bg-light mb-3">
                    <div class="card-body  show-card-body">
                        <h1 class="text-center">{{product.name}}</h1>
                                <p class="description">Caractéristique principale</p>
                            <div class="row">
                            <h2 class="bike-price ml-5">{{product.price }}&euro;</h2>
                            <a href="{{ path('addProduct', {'product':product.id}) }}" class="ml-5 btn btn-dark btn-lg btn-panier text-uppercase">
                                <i class="fa fa-shopping-cart"></i> Ajouter au panier
                            </a>
                        </div>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('product_edit', {'id':product.id}) }}" class="ml-5 btn btn-dark btn-lg text-uppercase">
                     Editer le produit
                </a>
                    {{ include('product/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}